@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

* {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --hero-ui-primary: #e5cc2a; /* Blue-500 */
  --hero-ui-background: #ffffff; /* White */
  --hero-ui-text-color: #1f2937; /* Gray-800 */
}

/* Dark Theme */
[data-theme="dark"] {
  --hero-ui-primary: #c67b35; /* Blue-400 */
  --hero-ui-background: #1f2937; /* Gray-800 */
  --hero-ui-text-color: #f3f4f6; /* Gray-100 */
}


